@import "tailwindcss";

@theme {
  --color-navy: oklch(0.22 0.0469 255.95);
  --color-bone: oklch(0.96 0.0074 80.72);
  --color-gold: oklch(0.75 0.0829 82.09);

}

/* navy: "#0A1A2F",
gold: "#C9AA71",
charcoal: "#3A3A3A",
slateblue: "#43536D",
beige: "#D8CAB8", */