@import "tailwindcss";

@theme {
  --color-navy: oklch(0.22 0.0469 255.95);
  --color-bone: oklch(0.96 0.0074 80.72);
  --color-gold: oklch(0.75 0.0829 82.09);
  --color-charcoal: oklch(0.3485 0.00 0.00);
  --color-slateblue: oklch(0.4396 0.0476 259.97);
  --color-beige: oklch(0.8456 0.0291 74.26);

}

/* in your index.css or global.css */
html,
body {
  margin: 0;
  padding: 0;
}